<a href="https://colab.research.google.com/github/karthikkj2002/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Karthikkjassignmnt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#question1
print('Name: Karthik kj')
print('address : Thiruthikkavu, chelavoor, kozhikode')
print('telephone no : 9562166840')

Name: Karthik kj
address : Thiruthikkavu, chelavoor, kozhikode
telephone no : 9562166840

In [4]:
#question2
Name=input('enter your name:')
print('your name is ',Name)

enter your name:Karthik kj
your name is  Karthik kj

In [7]:
#question3
Length=float(input('enter the length :'))
Breadth=float(input('enter the breadth:'))
Area=Length*Breadth
print('Area of rectangle :',Area)

enter the length :55
enter the breadth:44
Area of rectangle : 2420.0

In [8]:
#question4
Base=float(input('enter the base of triangle:'))
Height=float(input('enter the height of triangle:'))
Area=.5*Base*Height
print('area of triangle:',Area)

enter the base of triangle:66
enter the height of triangle:65
area of triangle: 2145.0

In [9]:
#question5
Radius=float(input('enter the radius:'))
Area=3.14*Radius**2
print('area of the circle: ',Area)

enter the radius:96
area of the circle:  28938.24

In [10]:
#question6
Name=input('enter your name :')
Age=input('enter your age :')
print('Name :',Name ,'Age :',Age)

enter your name :Karthik kj
enter your age :18
Name : Karthik kj Age : 18

In [11]:
#question7
number=float(input('enter a number:'))
print('one is added')
print(number+1)

enter a number:6
one is added
7.0

In [12]:
#question8
Name=input('enter first name:')
print('first name is :',Name)

enter first name:Karthik
first name is : Karthik