<a href="https://colab.research.google.com/github/karthikkj2002/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

In [1]:
 
n=int(input("Enter the number of elements: "))
a=[]
for i in range(0,n):
    element=int(input("Enter element: "))
    a.append(element)
avg=sum(a)/n
print("Average of elements in the list",round(avg,2))

Enter the number of elements: 5
Enter element: 1
Enter element: 2
Enter element: 3
Enter element: 4
Enter element: 5
Average of elements in the list 3.0

2.

In [2]:
 
my_list = ['a', 'b','c']
n = 3
new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in my_list]
print(new_list)

['a1', 'b1', 'c1', 'a2', 'b2', 'c2', 'a3', 'b3', 'c3']

4.

In [3]:
 
def Frequency(my_list): 
 
      
 
   
 
    freq = {} 
 
    for items in my_list: 
 
        freq[items] = my_list.count(items) 
 
      
 
    for key, value in freq.items(): 
 
        print ("% d : % d"%(key, value)) 
 
  
 
 
if __name__ == "__main__":  
 
    my_list =[1, 1,3 , 3,4,6,5, 5, 3, 1, 4, 7, 4, 2, 2, 9,9,9 ,2] 
 
    Frequency(my_list)

 1 :  3
 3 :  3
 4 :  3
 6 :  1
 5 :  2
 7 :  1
 2 :  3
 9 :  3

5.

In [4]:
 
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Second largest element is:", list1[-2])

Second largest element is: 45

6.

In [5]:
 
def countelements(list1, l, r): 
 
    count = 0 
 
    
 
    for x in list1: 
 
        
 
        if x>= l and x<= r: 
 
            count+= 1 
 
    return count
 
      
 
 
list1 = [1, 2, 3, 4, 5, 4, 4, 6, 7] 
 
l = 4
 
r = 8
 
print(countelements(list1, l, r))

6

7.

In [6]:
 
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Second smallest element is:", list1[1])

Second smallest element is: 10